
    <section class="welcome_area" id="home">
        <div class="table">
            <div class="table_cell">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 item wel_text" style="height: 450px;">
                            <div class="table">
                                <div class="table_cell">
                                    <!-- Welcome Area Text Start -->
                                    <div class="welcome_text_area">
                                        <h2>We Reinstate</h2>
                                        <p>If you want to reinstate your Amazon seller account - you're in the right place.</p>
                                        <a href="#download" class="btn btn-default btn-lg"><i class="fa fa-mouse-pointer" aria-hidden="true"></i>Hire the Owl Now</a>
                                        <div class="row" style="margin-top: 20px;">
                                            <div class="col-lg-12">
                                                <small>Our services are effective for all marketplaces:</small>
                                                <div>
                                                    <%= image_tag 'blank.gif', class: "flag flag-us" %>
                                                    <%= image_tag 'blank.gif', class: "flag flag-gb" %>
                                                    <%= image_tag 'blank.gif', class: "flag flag-it" %>
                                                    <%= image_tag 'blank.gif', class: "flag flag-fr" %>
                                                    <%= image_tag 'blank.gif', class: "flag flag-nl" %>
                                                    <%= image_tag 'blank.gif', class: "flag flag-ca" %>
                                                    <%= image_tag 'blank.gif', class: "flag flag-jp" %>
                                                    <%= image_tag 'blank.gif', class: "flag flag-de" %>
                                                    <%= image_tag 'blank.gif', class: "flag flag-es" %>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm item" style="height: 450px;">
                            <!-- Welcome Area Image Start -->
                            <div class="welcome_area_thumb text-center">
                                <%= image_tag 'owl-large.png' %>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- Welcome Area Background Style -->
        <div class="welcome_style_one"></div>
        <div class="welcome_style_two"></div>
        <div class="welcome_style_three"></div>
        <div class="welcome_style_four"></div>
    </section>
        <section class="video_area">
        <div class="container">
            <div class="row">
                <div class="col">
                    <!-- Video Area Text -->
                    <div class="video_area_text text-center section_padding_200">
                        <h2 class="josefin-sans">Introducing Owlisor</h2>
                        <p>Watch video. It's takes 24sec only.</p>
                        <a href="https://www.youtube.com/watch?v=6NC_ODHu5jg" class="video_btn btn"><i class="fa fa-play-circle-o" aria-hidden="true"></i></a>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="work_process_area section_padding_100_70">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Section Heading Start -->
                    <div class="section_heading">
                        <h3>How it <span>Works</span></h3>
                        <p>Appland is completely creative, lightweight, clean &amp; super responsive app landing page.</p>
                    </div>
                    <!-- Section Heading End -->
                </div>
            </div>

            <div class="row">
                <!-- Single Work Step -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single_work_step box-shadow-with-bg-gray wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                        <i class="fa fa-download" aria-hidden="true"></i>
                        <h5>Hire the Owl</h5>
                        <p>Our team will escort you through the whole process of reinstatment until you're ready to sell again.</p>
                    </div>
                </div>
                <!-- Single Work Step -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single_work_step box-shadow-with-bg-gray wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                        <i class="fa fa-mail-reply-all" aria-hidden="true"></i>
                        <h5>Mail Confirmation</h5>
                        <p>Reply to our mail and include the suspension email you received from Amazon along with a few words about your Amazon store front background.</p>
                    </div>
                </div>
                <!-- Single Work Step -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single_work_step box-shadow-with-bg-gray wow fadeInUp" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                        <h5>Done</h5>
                        <p>Use our personal made plan of action and start selling again.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript">
        ( function() {

            var youtube = document.querySelectorAll( ".youtube" );
            
            for (var i = 0; i < youtube.length; i++) {
                
                var source = "https://img.youtube.com/vi/"+ youtube[i].dataset.embed +"/sddefault.jpg";
                
                var image = new Image();
                        image.src = source;
                        image.addEventListener( "load", function() {
                            youtube[ i ].appendChild( image );
                        }( i ) );
                
                        youtube[i].addEventListener( "click", function() {

                            var iframe = document.createElement( "iframe" );

                                    iframe.setAttribute( "frameborder", "0" );
                                    iframe.setAttribute( "allowfullscreen", "" );
                                    iframe.setAttribute( "src", "https://www.youtube.com/embed/"+ this.dataset.embed +"?rel=0&showinfo=0&autoplay=1" );

                                    this.innerHTML = "";
                                    this.appendChild( iframe );
                        } );    
            };
            
        } )();
    </script>